#map_canvas {
  width: 800px;
  height: 600px;
}

.page-header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right:auto;
  margin-left:auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
